@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Nothing+You+Could+Do&family=Over+the+Rainbow&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Over the Rainbow', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Cinzel', serif; //400, 500, 600
*/
html::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}


/* Navigation */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    padding: 1em;
    height: 2em;
    position: fixed;
    width: 100%;
    box-sizing: content-box;
    z-index: 100;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-nav > li {
    margin: 1rem 2rem 1rem 1rem;
    font-size: 1.5rem;
    overflow: hidden;
    font-family: 'EB Garamond', serif;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    transition: opacity 0.5s;
    cursor: pointer;
    user-select: none;
}

.title p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
    text-transform: capitalize;
    text-decoration: none;
    transition: opacity 0.5s;
    cursor: pointer;
    user-select: none;
}

li:hover, .title p:hover {
    opacity: 50%;
}

/* Content */

.page {
    height: 100vh;
    color: #fff;
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/alex-inkilainen-OfZNe7YpCvA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#front h1 {  
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 600%;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    transform: scale(1);
    transition-duration: 1s;
    transition-property: transform, font-size;
    cursor: pointer;
    user-select: none;
    letter-spacing: normal;
}

#front h1:hover {
    transform: scale(2);
}


#concept {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/pine-closeup.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#concept p {
    margin: 10rem;
    font-size: 1.4rem;
    max-height: 100%;
}

/* Menu styling */

#menu {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/cutting-board.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-content: center;
}

.menu-box {
    border: 0.2em solid white;
    border-radius: 3em 0 3em 0;
    height: 70%;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.menu-box li{
    list-style-type: none;
    padding: 1.5em;
}

.course::after {
    content: " ...................";
}


#location {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/ines-d-anselme-IAe4R_RiB08-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#booking {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/martin-eriksson-3sVyJYcrZ6g-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Gallery */

.slideshow {
    height: 100vh;
}

.slideshow img {
    object-position: center;
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: 1500ms;
}

.slideshow img.active {
    opacity: 1;
}

/* Prev/Next Button Styling */

.prev, .next {
    transform: scale(3);
    position: absolute;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 2rem;
    justify-self: center;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    text-shadow: rgba(0, 0, 0 , 1) 1px 0 2rem;
    transform: scale(3.9);
}
